.with-columns {
    -webkit-column-width: 15em; /* Chrome, Safari, Opera */
    -moz-column-width: 15em; /* Chrome, Safari, Opera */
    column-width: 15em; /* Chrome, Safari, Opera */
    -webkit-column-gap: 1.5em; /* Chrome, Safari, Opera */
    -moz-column-gap: 1.5em; /* Firefox */
    column-gap: 1.5em;

    -webkit-column-rule: 1px outset #ff00ff; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px outset #ff00ff; /* Firefox */
    column-rule: 1px outset #ff00ff;
}

.no-column-break {
page-break-inside: avoid;
}

.column-span-all {
-webkit-column-span: all;
-moz-column-span: all;
column-span: all;
}

.column-span-2 {
-webkit-column-span: 2;
-moz-column-span: 2;
column-span: 2;
}

@font-face {
  font-family: 'Vast Shadow';
  font-style: normal;
  font-weight: 400;
  src: local('Vast Shadow Regular'), local('VastShadow-Regular'), url(../fonts/vastshadow.woff) format('woff');
}
@font-face {
  font-family: 'Vidaloka';
  font-style: normal;
  font-weight: 400;
  src: local('Vidaloka '), local('Vidaloka-Regular'), url(../fonts/vidaloka.woff) format('woff');
}
